# These need to be provided as plain; we need these to connect to our slapd
slapd:
    adminPassword: ...
    rootPassword: ...
# These need to be provided as hashes; we store them in the ldap entries
bootstrap:
    readpwUsers:
        appsuite: ...  # generate with: slappasswd -h {SSHA} -s yourpassword
        dovecot: ...
        keycloak: ...
