# These need to be provided as plain; we need these to connect to our slapd
slapd:
    adminPassword: ...
    rootPassword: ...
bootstrap:
    # These need to be provided as hashes; we store them in the ldap entries
    readpwUsers:
        appsuite: ...  # generate with: slappasswd -h {SSHA} -s yourpassword
        dovecot: ...
        keycloak: ...
    # These need to be provided as plain; we need these to bind as readpw users in e2e tests
    readpwPasswords:
        appsuite: ...
        dovecot: ...
        keycloak: ...
